@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


body {
    background-color: #E5E5E5;
    color: #25282B;
}

.Header {

    width: 566px;
    height: 135px;
    
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 63px;
    
    letter-spacing: 0.180645px;
}


.Wave {
    height: 50px;
    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;        /* Change to speed up or slow down */
    animation-iteration-count: infinite;  /* Never stop waving :) */
    transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}

.self {
}

.me {

    width: 363px;
    height: 363px;
}


.subtext1 {

    width: 511.23px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16.2581px;
    line-height: 26px;
}

.Header1,
.Header2 {

    width: 317px;
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 63px;
    
    letter-spacing: 0.180645px;
}

.subtext2 {
    width: 533px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16.2581px;
    line-height: 26px;

}

.Icon {

}

.NavBar {
    width: 1201px;
    height: 133px;
    background: #E5E5E5;
    box-shadow: 5.59885px 5.59885px 16.7965px rgba(174, 174, 192, 0.4);
    border-radius: 65px;

    display: flex;
    align-items: center;
    justify-content: space-around;

    gap: 15px;
    padding: 0 30px;
}

.currentExp,
.pastExp {

    width: 388px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;

    letter-spacing: 0.2px;
}


.Header3 {

    width: 156px;
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 63px;

    letter-spacing: 0.2px;
}

.Header4 {

    width: 351px;
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 63px;

    letter-spacing: 0.2px;
}

.Portfolio {

    width: 388px;
    height: 86.78px;
    
    background: #E5E5E5;
    box-shadow: -5.59885px -5.59885px 16px #FFFFFF, 5.59885px 5.59885px 16.7965px rgba(174, 174, 192, 0.4);
    border-radius: 65px;
    border: none;

    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 35.8326px;
    line-height: 26px;
    letter-spacing: 0.111977px;
    color:#25282B;

    flex: 2 1 auto;

}

.Youtube,
.Medium,
.Linkedin,
.Github {
    flex: 0.4;
}

.Youtube {

    height: 86.78px;
    width: 86.78px;

    background: #E5E5E5;
    box-shadow: -3.70833px -3.70833px 11.125px #FFFFFF, 5.5625px 5.5625px 11.125px rgba(174, 174, 192, 0.4);
    border-radius: 18.5417px;
    border: none;
}

.Medium {
 
    height: 86.78px;
    width: 86.78px;

    background: #E5E5E5;
    box-shadow: -3.70833px -3.70833px 11.125px #FFFFFF, 5.5625px 5.5625px 11.125px rgba(174, 174, 192, 0.4);
    border-radius: 18.5417px;
    border: none;  
}

.Linkedin {

    height: 86.78px;
    width: 86.78px;
    
    background: #E5E5E5;
    box-shadow: -3.70833px -3.70833px 11.125px #FFFFFF, 5.5625px 5.5625px 11.125px rgba(174, 174, 192, 0.4);
    border-radius: 18.5417px;
    border: none;  
}

.Github {

    height: 86.78px;
    width: 86.78px;
    
    background: #E5E5E5;
    box-shadow: -3.70833px -3.70833px 11.125px #FFFFFF, 5.5625px 5.5625px 11.125px rgba(174, 174, 192, 0.4);
    border-radius: 18.5417px;
    border: none;  
}

.Pointer {

    width: 125px;
 /* z-index: 1; */
    
}

.Circle {

    width: 136px;
    height: 136px;

    background: #F6E8B4;
    box-shadow: -10px -10px 30px #FFFFFF, 10px 10px 30px rgba(145, 145, 145, 0.4);
    border-radius: 75px;
    /* z-index: -1; */

    animation-name: floating; 
    animation-duration: 6s; 
    animation-iteration-count: infinite; 
    animation-timing-function: ease-in-out; 

    
}

@keyframes floating { 
    0% { transform: translate(0,  0px); } 
    50%  { transform: translate(0, 30px); } 
    100%   { transform: translate(0, -0px); }     
} 

.NewsletterButton {

    width: 244px;
    height: 54.31px;

    
    background: linear-gradient(0deg, #E5E5E5, #E5E5E5);
    box-shadow: -4.5386px -4.5386px 13.6158px #FFFFFF, 4.5386px 4.5386px 13.6158px rgba(174, 174, 192, 0.4);
    border-radius: 52.691px;
    border: none;

    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 17.8339px;
    color: #25282B;

}
/* change pixel values to percentages? */

.container {
    display: grid;
    /* height: 100vh; this was fucking up shit grrrr */ 
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1fr 0.8fr 0.6fr;
    /* grid-gap: 10px; */

    grid-template-areas:
    " block1 block1 pee pee "
    " block3 block3 block2 block2 "
    " block3 block3 block5 block5 "
    " block3 block3 block6 block6 "
    " block4 block4 block4 block4 "
    " block7 block7 block8 block8 "
    ;
}
    
.block1{
    display: grid;
    /* background: #bada55; */
    grid-area: block1;

}

.block2{
    /* background: #bada55; */
    grid-area: block2;
}

.block3{
    /* background: #bada55; */
    grid-area: block3;

    display: grid;
    justify-content: right;
    padding-right: 5vh;
}

.block4{
    /* background: #bada55; */
    grid-area: block4;

    display: flex;
    justify-content: center;
}

.block5{
    /* background: #bada55; */
    grid-area: block5;
}

.block6{
    /* background: #bada55; */
    grid-area: block6;
    
}

.block7{
    display: grid;
    /* background: #bada55; */
    grid-area: block7;
   
    justify-content: right;
    padding-top: 2vh;
}

.block8{
    display: grid;
    /* background: #bada55; */
    grid-area: block8;

    justify-content: left;
    padding-left: 10vh;
    padding-top: 2vh;
  
}

.pee {
    display: grid;
    /* background: #bada55; */

    justify-content: right;
    padding-top: 3vh;
}